<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{title}}</title>
    <style>
      body{ background-color: blanchedalmond; display: flex; flex-direction:
      column; padding-left: 35%;}
    </style>
  </head>
  <body>
    {{! two means value }}
    {{{body}}}
  </body>
</html>