* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --my-color: gray;
}
table {
  width: 90vw;
  height: 90vh;
  margin: 5rem auto;
}
tr td {
  border-radius: 100%;
  border: 1px solid black;
}
tr:nth-child(2n + 1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n + 1) {
  background-color: var(--my-color);
}
tr td:hover {
  transform: skew(30deg, 20deg);
}
