nav {
  ul {
    list-style: none;
    width: $your-size;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: $a-color;
    &:hover {
      background-color: rgb(219, 166, 192);
    }
  }
}
